* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}

a:hover {
    color: hsl(30, 99%, 51%);
}

/* header */
header {
    background-color: hsl(30, 99%, 51%);
    text-transform: capitalize;
    padding: 30px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
    background-color: hsl(0,0%,93%);
}

.nav-list a {
    font-size: 20px;
    /* text-transform: capitalize; */
    color: hsl(0,0%,47%);
}

.nav-list a:hover {
    font-size: 20px;
    /* text-transform: capitalize; */
    /* color: hsl(0,0%,47%); */
    color: hsl(30, 99%, 51%);
}

main {
    display:flex;
    /* border: 1px solid red; */
    gap:20px;
    margin: 20px;
}

main section {
    flex: 1;
}

main aside {
    width: 250px;
}

section h2 {
    margin: 15px 0;
}

aside, h3 {
    padding: 10px;
    background-color: hsl(30, 99%, 51%);
    color: white;
}

aside li {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

@media (max-width:768px) {
    .header {
        padding: 20px;
    }

    .header h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .nav-list li {
        border-bottom: 1px solid #ccc;
    }

    li.last-item {
        border: none;
    }

    main {
        flex-direction: column-reverse;
    }

    main aside {
        width: 100%;
        text-align: center;
    }
}